
.all{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
}

.recipes {
    margin: 10px;
    border: 4px solid burlywood;
    border-radius: 50px;
    background-color: rgba(222, 184, 135, 0.486);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.create{
    text-decoration: none;
    color: rgb(243, 141, 52);
    background-color: rgba(222, 184, 135, 0.486);
    border-radius: 10px;
    border: 2px solid burlywood;
    padding: 5px;
}
.create:hover{
    background-color: rgba(112, 240, 240, 0.281);
    cursor: pointer;
}